<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreetViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StreetViewer.Properties.Settings>
            <setting name="LastLocationX" serializeAs="String">
                <value>36.1003</value>
            </setting>
            <setting name="LastLocationY" serializeAs="String">
                <value>112.1002</value>
            </setting>
            <setting name="LastLocation" serializeAs="String">
                <value>42.345573,-71.098326</value>
            </setting>
            <setting name="LastHeading" serializeAs="String">
                <value>0</value>
            </setting>
        </StreetViewer.Properties.Settings>
    </userSettings>
</configuration>